
#first_name{
    position: relative;
    font-family: "Judson", serif;
    color: black;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #2A4494;
}

#surname{
    position: relative;
    font-family: "Judson", serif;
    font-weight: 400;
    color: black;
    font-style: normal;
    font-size: 50px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #2A4494;
    letter-spacing: 13px;
}

header p{
    position: relative;
}

#subheading{
    position: relative;
    font-family: "Italianno", cursive;
    font-size: 30px;
    color: #2A4494;
    font-style: normal;
    -webkit-text-stroke: 0.2px;
    -webkit-text-stroke-color: black;
    letter-spacing: 2px;
}

header{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: center;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-image: url("images/magic-fire-artists.png");
    background-position: center;
    background-size: cover;
}

header::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.5);
}

article{
    margin-top: 100vh;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: url("images/pexels-mikhail-nilov-7676883.jpg");
    background-position: center;
    background-size: cover;
}

article::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.6);
}

footer{
    text-align: center;
    margin-top: 200vh;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

#heading {
    color: #2A4494;
    font-family: "Judson", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
}