H1{
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #2A4494;
}

#subheading{
    font-family: "Italianno", cursive;
    font-size: 30px;
    color: #2A4494;
    font-style: normal;
    -webkit-text-stroke: 0.2px;
    -webkit-text-stroke-color: black;
}