
#first_name{
    position: relative;
    font-family: "Judson", serif;
    color: black;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #2A4494;
    text-shadow: -3px 3px 2px rgb(0 0 0 / 0.19);
}

#surname{
    position: relative;
    font-family: "Judson", serif;
    font-weight: 400;
    color: black;
    font-style: normal;
    font-size: 60px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #2A4494;
    letter-spacing: 14px;
    text-shadow: -3px 3px 2px rgb(0 0 0 / 0.19);
}

header p{
    position: relative;
}

#subheading{
    position: relative;
    font-family: "Italianno", cursive;
    font-size: 40px;
    color: #2A4494;
    font-style: normal;
    -webkit-text-stroke: 0.2px;
    -webkit-text-stroke-color: black;
    letter-spacing: 2px;
}

header{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: center;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-image: url("images/magic-fire-artists.png");
    background-position: center;
    background-size: cover;
}

header::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255,255,255,0.5);
}

article{
    margin-top: 100vh;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: url("images/pexels-mikhail-nilov-7676883.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
}

article::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.6);
}

article img{
    position: relative;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

footer{
    text-align: center;
    margin-top: 200vh;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    font-family: "Judson", serif;
    font-size: 22px;
    font-weight: 100;
    color: #162F79;
    letter-spacing: 3px;
}

h2 {
    color: #162F79;
    font-family: "Judson", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 54px;
    letter-spacing: 8px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #2A4494;
}

#suits{
    margin-top: 40px;
    margin-bottom: 40px;
    position:relative;
    filter: drop-shadow(-3px 5px 2px rgb(0 0 0 / 0.19));
}

#webDesignByOli p, 
#webDesignByOli img,
#phone img,
#phone p,
#email img,
#email p{
    display: inline-block;
}

#email {
    margin-bottom: 36px;
}

article #subheading {
    color: white;
}

#intro{
    width: 60%;
    position: relative;
    font-family: "Judson", serif;
    font-size: 18px;
    font-weight: 100;
    color: #FFFFFF;
    letter-spacing: 4px;
    margin-left: auto;
    margin-right: auto;
}

#dp {
    border: 4px solid white;
}